/node_modules
/.env.local
/.umirc.local.ts
/config/config.local.ts
/src/.umi
/src/.umi-production
/src/.umi-test
/dist
/.umirc.ts
/.DS_Store

/npm-debug.log*
/npm-debug.log*
/yarn-error.log
/yarn.lock
# misc

.DS_Store
.umirc.ts
